version: '3.7'

services:
  database_estoque_mk:
    image: postgres
    container_name: estoque
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=estoque
    volumes:
      - pgdata:/data/postgresql
    
      
  app:
    build: .
    command: npm run dev
    container_name: backend_estoque
    ports:
      - 3333:3333
    volumes:
      - .:/app
      - /app/node_modules


volumes:
  pgdata:
    driver: local